@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-family: 'League Spartan', sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Mengatur warna scrollbar pada elemen tertentu */
::-webkit-scrollbar {
  width: 12px; /* Lebar scrollbar */
}

/* Gaya untuk track (background) scrollbar */
::-webkit-scrollbar-track {
  background-color: #1e293b; /* Warna track scrollbar (warna background) */
  border-radius: 10px;
}

/* Gaya untuk thumb (bagian yang digerakkan) scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #4c9aff; /* Warna thumb scrollbar */
  border-radius: 10px;
  border: 3px solid #1e293b; /* Border tipis di sekitar thumb */
}

/* Gaya untuk hover pada thumb scrollbar */
::-webkit-scrollbar-thumb:hover {
  background-color: #3384e4; /* Warna thumb saat hover */
}


html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;

}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
